Source: vyatta-wireless
Section: contrib/net
Priority: extra
Maintainer: VyOS Package Maintainers <maintainers@vyos.net>
Build-Depends: debhelper (>= 5), autotools-dev, autoconf, automake, cpio
Standards-Version: 3.7.2

Package: vyatta-wireless
Architecture: all
Depends: vyatta-cfg (>= 0.15.33),
 vyatta-bash,
 vyatta-op,
 vyatta-cfg-system (>= 0.19.1),
 hostapd (>= 0.6.8),
 wpasupplicant (>= 0.6.7),
 iw,
 crda,
 wireless-regdb
Description: VyOS configuration/operational commands for 802.11 wireless
 VyOS configuration and operational templates and scripts for 802.11 wireless
 devices and access points.
